.title-container {
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.title-description {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 500px;
  margin: 0 auto;
}

/* cards */

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card-container > .card {
  border: 2px solid;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  text-align: start;
  color: #ffffff;
  border-color: linear-gradient(135deg, #d434fe, #6b41ff, #4d94ff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

p {
  font-size: 0.9rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 90%;
  }
}

/* member card  */
.founding-members .core-members {
  text-align: center;
  margin: 20px auto;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.members-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.member-card {
  border-radius: 10px;
  padding: 10px;
  max-width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
}

.member-card:hover {
  transform: scale(1.05);
}

.member-image {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
}

.member-name {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.1rem;
}
