@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    background: rgb(44,6,45);
    background: linear-gradient(90deg, rgba(44,6,45,1) 0%, rgba(5,40,22,1) 50%, rgba(9,27,48,1) 100%);
    color: white;
    scroll-behavior: smooth;
    scroll-behavior: smooth; /* Apply to the html element */
  }
}
